article.desc-4 {
  background: #eef1fa;
  padding: 5vh 5%;
  .desc-4-title {
    width: 100%;
    h2 {
      font-size: 2.5em;
      margin: 10vh 0;
      text-align: center;
      font-weight: 600;
      color: #091540;
      width: 100%;
    }
  }

  h3 {
    font-size: 1.6em;
    @media screen and (max-width: 600px) {
      text-align: center;
    }
  }
  p {
    text-align: justify;
    font-size: 1.4em;
    font-weight: 200;
  }
  .desc-4-content-left {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .desc-4-content-right {
    padding-left: 5%;
  }
  .registered-info {
    p {
      margin: 0;
      font-size: 1em;
    }
  }
}
