@import "../styles\ variables/variables.scss";


article.desc-3 {
  padding: 3vh 5%;
  background-color: $background;
  .desc-3-title {
    h2 {
      font-size: 2.5em;
      margin: 10vh 0;
      text-align: center;
      font-weight: 600;
      color: $darkBlue;
    }
  }
  /*@media screen and (max-width: 600px) {
    .desc-3-content:nth-child(even) {
      flex-flow: column-reverse;
    }
  }*/
  @include media-down(sm) {
    .desc-3-content:nth-child(even) {
      flex-flow: column-reverse;
    }
  }
  .desc-3-content {
    margin-bottom: 6vh;

    .desc-3-content-text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        font-size: 1.6em;
        /*@media screen and (max-width: 600px) {
          text-align: center;
        }*/
        @include media-down(sm) {
          text-align: center;
        }
      }
      p {
        text-align: justify;
        font-size: 1.4em;
        font-weight: 200;
        /*@media screen and (min-width: 1000px) {
          width: 80%;
        }*/
        @include media-up(lg) {
          width: 80%;
        }
      }
    }
    .desc-3-content-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      /*@media screen and (max-width: 1000px) {
        margin-bottom: 5vh;
      }*/
      @include media-down(lg) {
        margin-bottom: 5vh;
      }
    }
  }
}
