@import "../styles\ variables/variables.scss";

.desktop {
  display: inline;
  @media screen and (min-width: 1000px) {
    display: none;
  }
}
article.desc-1 {
  background: #eef1fa;
  min-height: 80vh;
  align-content: center;
  padding: 5vh 5%;
  .desc1-title {
    font-size: 2.5em;
    margin: 2vh 0;
    text-align: center;
    font-weight: 600;
    color: #091540;
  }

  .desc1-text {
    color: #091540;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    font-size: 1.4em;
    font-weight: 200;
    @media screen and (min-width: 1000px) {
      p {
        text-align: end;
      }
    }
  }
  .desc1-image {
    img {
      width: 100%;
    }
  }
}
