@import "../styles\ variables/variables.scss";

.form-container {

    .step1-container {
        padding-top: 8.7em;

        @include media-down(sm2){
            padding-top: 4.5em;
        }

        @include media-down(xs){
            padding-top: 3em;
        }


        .step1-title {
            text-align: center;
            font-weight: 900;
            font-size: 2.25em;
            width: 100%;

            @include media-down(sm2){
                font-size: 1.4em;
            }

            @include media-down(xs){
                font-size: 1em;
                padding-left: 2em;
                
            }
        }

        .step1-logo-img {
            margin-top: 0.625em;

            @include media-down(sm2){
                width: 10%;
                margin-left: 0.4em;
            }

            @include media-down(xs){
                margin-left: 7em;
            }

        }

        .profile-pic-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            padding-top: 3.125em;

            @include media-down(xs){
                display: flex;
                flex-direction: column;
                padding-top: 1em;
            }

            .tooltip-container {
                display: flex;
                padding-top: 0.625em;
                margin-left: 3em;

                @include media-down(sm2){
                    span{
                        display: none;
                    }

                .step1-profile-title {
                    font-size: 1.125em;
                    font-weight: 700;
                    width: 100%;
                    margin-left: 3em;
                    align-self: center;
                    

                    @include media-down(sm2){
                        font-size: 1em;
                        margin-left: 5em;
                    }

                    @include media-down(xs){
                        font-size: 0.8em;
                        margin-left: 5em;
                        width: 50%;
                        text-align: center;
                    }

                    .step1-profile-title-tooltip {
                        margin-top: 3em;
                        margin-left: 3.5em;

                        }
                    }
                }
            }

            .step1-profile-btn {
                background-color: $grey5;
                color: $white;
                border: none;
                width: 100%;
                height: 2.938em;
                border-radius: 8px;
                margin-left: 3em;

                @include media-down(sm2){
                    width: 50%;
                    margin-left: 8em;
                }

                @include media-down(xs){
                    width: 30%;
                    margin-left: 10.5em;
                    font-size: 0.8em;
                }
            }

        }

        .step1-label-names {
            font-size: 1.125em;
            font-weight: 700;
            padding-top: 7em;
            padding-left: 8.5em;

            @include media-down(sm2){
                padding-left: 0.8em;
                font-size: 1em;
            }

            @include media-down(xs){
                padding-left: 4.5em;
                font-size: 0.85em;
                padding-top: 3em;
            }
        }

        .names-container {
            padding-left: 9.375em;
            padding-bottom: 1.25em;

            input {
                @include input1();

            }

            @include media-down(sm2){
                padding-left: 0.8em;
                width: 100%;
            }

            @include media-down(xs){
                input{
                    margin-left: 3em;
                    width: 56%;
                }
                    ::-webkit-input-placeholder{
                        font-size: 0.9em;
                    }
            }
        }

        .id-label,
        .email-label,
        .country-label,
        .receipt-label {
            font-size: 1.125em;
            font-weight: 700;
            padding-left: 8.5em;
            padding-top: 20px;

            @include media-down(sm2){
                font-size: 1em;
                padding-left: 0.8em;
            }

            @include media-down(xs){
                font-size: 0.85em;
                padding-left: 4.5em;
                
            }
        }

        .id-container {
            padding-bottom: 0.625em;

            input {
                outline: none;
                border: none;
                border-bottom: 2px solid $grey6;
                margin-left: 9.375em;
                background-color: transparent;
                width: 56%;

                @include media-down(sm2){
                    margin-left: 0.8em;
                    width: 95%;
                }

                @include media-down(xs){
                    margin-left: 4em;
                    width: 65%;

                    // ::-webkit-input-placeholder{
                    //     font-size: 0.9em;
                    // }
                }
            }
        }
    }

    .cellphone-label {
        font-size: 1.125em;
        font-weight: 700;
        padding-left: 8.5em;
        padding-top: 0.625em;

        @include media-down(sm2){
            font-size: 1em;
            padding-left: 0.8em;
        }

        @include media-down(xs){
            font-size: 1em;
            padding-left: 4.6em;
            font-size: 0.85em;
        }
    }

    .cellphone-container {
        display: flex;
        padding-left: 9.375em;
        padding-bottom: 1.875em;


        @include media-down(sm2){
            padding-left: 0.8em;
        }

        @include media-down(xs){
            padding-left: 0.8em;
            flex-direction: column;
            padding-bottom: 1em;
        }

        .select-country{

            @include media-down(sm2){
                display: block;
            }

            @include media-down(xs){
                display: none;
            }
        }
        
        .cell-input {
            outline: none;
            border: none;
            border-bottom: 2px solid $grey6;
            margin-left: 0.938em;
            background-color: transparent;

            @include media-down(xs){
                margin-left: 3.3em;
                width: 68%;
            }

        }

        .caract-p{
            font-size: 0.7em;
            padding-top: 0.4em;
            display: none;

            @include media-down(sm2){
                display: none;
            }

            @include media-down(xs){
                display: block;
                padding-left: 5em;
            }
        }
    }


    .email-container {
        padding-bottom: 1.875em;

        @include media-down(xs){
            padding-bottom: 1em;
        }

        input {
            outline: none;
            border: none;
            border-bottom: 2px solid $grey6;
            margin-left: 9.375em;
            background-color: transparent;
            width: 58%;

            @include media-down(sm2){
                width: 95%;
                margin-left: 0.8em;
            }

            @include media-down(xs){
                width: 64%;
                margin-left: 4em;
            }
        }
    }


    .country-container {
        padding-bottom: 1.875em;

        select {
            width: 58%;
            outline: none;
            border: none;
            border-bottom: 2px solid $grey6;
            margin-left: 9.375em;
            background-color: transparent;

            @include media-down(sm2){
                width: 95%;
                margin-left: 0.8em;
            }

            @include media-down(xs){
                width: 64%;
                margin-left: 3.7em;
            }
        }
    }

    .id-img-container {
        display: flex;
        margin-top: 1.25em;

        @include media-down(xs){
            flex-direction: column;
            margin-top: 0.2em;
        }

        input {
            margin-left: 0.625em;

            @include media-down(xs){
                // width: 60%;
                margin-left: 4em;
            }
        }

        .id-tooltip-container {
            display: flex;

            @include media-down(sm2){
                span{
                    display: none;
                }
            }

            @include media-down(xs){
                padding-left: 3.2em;
                width: 70%;
            }


            h4 {
                font-size: 1.125em;
                font-weight: 700;
                padding-left: 8.5em;
                align-content: center;

                @include media-down(sm2){
                    font-size: 1em;
                    padding-left: 0.8em;
                }
                @include media-down(xs){
                    font-size: 0.85em;
                    
                }
            }
        }
    }

    .receipt-container{
        display: flex;

        span{
            @include media-down(sm2){
                margin-top: 1.5em;
            }
        }

        @include media-down(xs){
            flex-direction: column;
        }

        .span-receipt{
            display: none;
        }

        .receipt-input {
            margin-left: 0.625em;
            margin-top: 3.125em;
    
            @include media-down(sm2){
                margin-top: 1.5em;
                margin-left: 1.5em;
            }

            @include media-down(xs){
                // width: 70%;
                margin-left: 4em;
                margin-top: 0.1em;
            }
        }
    }

    .btns-container {
        display: flex;
        padding: 3.125em 0 3.125em 1.875em;


        @include media-down(xs){
            flex-direction: column;
            margin-left: 4em;
        }


        .cancel-btn {
            padding-left: 7.5em;
            padding-right: 18.75em;

            @include media-down(sm2){
                padding-right: 7em;
                padding-left: 3em;
            }
            @include media-down(xs){
                margin-bottom: 1em;
            }
        }

        .next-btn {
            background-color: $blue;
            color: $white;
            width: 11.25em;
            border: none;
            border-radius: 8px;


            span {
                padding-left: 0.625em;

            }
            @include media-down(sm2){
                padding-left: 2.5em;
                padding-right: 2.5em;
                display: flex;
                align-items: center;
            }
        }
    }

    .error-span-name{
        color: $red;
        display: flex;

        @include media-down(sm2){
            padding-left: 0.8em;
            font-size: 1em;
        }

        @include media-down(xs){
            padding-left: 6.4em;
            font-size: 0.85em;
        }
    }

    .error-span {
        @include error();

        @include media-down(sm2){
            padding-left: 0.8em;
            font-size: 1em;
        }

        @include media-down(xs){
            padding-left: 6.4em;
            font-size: 0.85em;
        }
    }

    .error-span-cell {
        color: $red;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include media-down(xs){
            padding-left: 5.4em;
            font-size: 0.85em;
        }
    }



    .step2-container {

        .step2-title {
            font-weight: 900;
            font-size: 2.25em;
            padding-top: 3em;
            text-align: center;

            @include media-down(sm2){
                font-size: 1.4em;
                padding-top: 1.5em;
            }

            @include media-down(xs){
                font-size: 1em;
                padding-left: 3.5em;
                padding-top: 3.5em;
            }
        }

        .company-label {
            font-weight: 700;
            font-size: 1.125em;
            padding-top: 4.938em;
            padding-left: 8.4em;

            @include media-down(sm2){
                padding-left: 6em;
                font-size: 1em;
                padding-top: 2em;
            }

            @include media-down(xs){
                padding-left: 7.6em;
                font-size: 0.8em;
            }
        }

        .company-container {

            input {
                @include input2();

                @include media-down(sm2){
                    margin-left: 6em;
                }
                @include media-down(xs){
                    input::placeholder{
                        font-size: 10px;
                    }
                }
            }
        }

        .ruc-label,
        .rep-label,
        .city-label,
        .address-label,
        .cellphone-label,
        .web-label,
        .poder-label,
        .receipt-label {
            font-weight: 700;
            font-size: 1.125em;
            padding-top: 1.5em;
            padding-left: 8.4em;

            @include media-down(sm2){
                padding-left: 6em;
                font-size: 1em;
            }
            @include media-down(xs){
                padding-left: 7.6em;
                font-size: 0.8em;
            }
        }

        .ruc-container {

            input {
                @include input2();

                @include media-down(sm2){
                    margin-left: 6em;
                }
                
            }
        }


        .rep-container {

            input {
                @include input2();

                @include media-down(sm2){
                    margin-left: 6em;
                    
                }
            }
        }


        .city-container {

            select {
                @include input2();

                @include media-down(sm2){
                    margin-left: 6em;
                }
            }
        }

        .address-container {
            input {
                @include input2();

                @include media-down(sm2){
                    margin-left: 6em;
                }
            }
        }


        .cellphone-container {
            padding-left: 9.375em;

            @include media-down(sm2){
                padding-left: 6em;
            }

            .cell-select{
                @include media-down(sm2){
                    display: block;
                }
    
                @include media-down(xs){
                    display: none;
                }
            }

            .cellphone-input {
                outline: none;
                border: none;
                border-bottom: 2px solid $grey6;
                margin-left: 0.625em;
                background-color: transparent;
                width: 31%;

                @include media-down(sm2){
                    width: 45%
                }
                @include media-down(xs){
                    width: 85%;
                    margin-left: 0.3em;
                    
                }
            }

            .caract-par{
                font-size: 0.7em;
                padding-top: 0.4em;
                display: none;
                
                @include media-down(sm2){
                    display: none;
                }

                @include media-down(xs){
                    display: block;
                    padding-left: 0.5em;
                }
            }
        }

        .web-container {
            input {
                @include input2();

                @include media-down(sm2){
                    margin-left: 6em;
                }
            }
        }


        .tooltip-container {
            display: flex;

            .docs-title {
                font-weight: 700;
                font-size: 1.125em;
                padding-top: 2.188em;
                padding-left: 8.4em;

                @include media-down(sm2){
                    padding-left: 6em;
                    font-size: 1em;
                }
                @include media-down(xs){
                    padding-left: 7.6em;
                    font-size: 0.8em;
                }
            }

            .step2-docs-tooltip {
                margin-top: 2.313em;
                margin-left: 0.313em;

                @include media-down(sm2){
                    display: none;
                }
            }
        }

        .poder-container {
            display: flex;

            @include media-down(sm2){
                flex-direction: column;
            }
        }


        .p-container {
            padding-left: 10.8em;
            font-size: 0.875em;
            

            @include media-down(sm2){
                padding-left: 6.7em;
                width: 100%;
            }
        }

        .input-con {
            align-self: center;
            margin-left: 5em;

            @include media-down(sm2){
                margin-left: 6em;
            }
            @include media-down(xs){
                input{
                    width: 80%;
                }
            }
        }

        .receipt-container {
            display: flex;

            @include media-down(sm2){
                flex-direction: column;
            }
            @include media-down(xs){
                padding-top: 1em;
            }
        }

        .input-container {
            align-self: center;
            margin-left: 1.25em;

            @include media-down(sm2){
                margin-left: 6em;
            }
            @include media-down(xs){
                margin-left: 6em;
                input{
                    width: 80%;
                }
            }

        }

        .btn-container {

            padding: 3.125em 0 3.125em 10em;


            @include media-down(sm2){
                display: flex;
                padding-left: 5.5em;
                padding-top: 5.5em;
            }
            @include media-down(xs){
                display: flex;
                flex-direction: column;
                padding-left: 3.5em;
                padding-top: 2em;
            }

            .back-btn {
                border: none;
                color: $grey6;
                font-weight: 600;

                @include media-down(sm2){
                    padding-left: 2.5em;
                    padding-right: 2.5em;
                    display: flex;
                }
                @include media-down(xs){
                    margin-left: 2em;
                    padding-left: 5em;
                    padding-bottom: 1em;
                    
                }

                span {
                    margin-right: 0.625em;
                }
            }

            .next-btn {
                background-color: $blue;
                color: $white;
                border: none;
                border-radius: 8px;
                height: 2.188em;
                width: 11.25em;
                margin-left: 12.5em;
                padding-left: 2em;

                @include media-down(sm2){
                    display: flex;
                    margin-left: 4em;
                    align-items: center;
                }

                span {
                    margin-left: 0.313em;
                    padding: 0.25em;

                   
                }
            }
        }

    }

    .step3-container {

        .step3-title {
            font-weight: 900;
            font-size: 2.25em;
            padding-top: 3.5em;
            text-align: center;

            @include media-down(sm2){
                font-size: 1.4em;
                padding-top: 4em;
            }
            @include media-down(xs){
                font-size: 1em;
                padding-top: 4em;
                padding-left: 4em;
            }
        }

        .step3-tooltip-container {
            display: flex;

            .step3-subtitle-soles {
                font-weight: 700;
                font-size: 1.125em;
                align-self: center;
                padding-left: 8.4em;
                padding-right: 0.625em;
                padding-top: 2.8em;

                @include media-down(sm2){
                    font-size: 1em;
                    padding-top: 1em;
                    
                }
                @include media-down(xs){
                    font-size: 0.95em;
                    padding-top: 1em;
                    padding-left: 6.8em;
                    
                }
            }

            .step3-title-tooltip {
                margin-top: 2.938em;

                @include media-down(sm2){
                    display: none;
                }
            }

        }

        .bank-label,
        .CCI-soles-label,
        .CCI-dolar-label {
            font-weight: 700;
            font-size: 1.125em;
            padding-top: 3em;
            padding-left: 8.4em;

            @include media-down(sm2){
                font-size: 1em;
                padding-left: 4em;
            }

            @include media-down(xs){
                font-size: 0.8em;
                padding-left: 6.6em;
            }
        }

        .bank-container {
            select {
                @include input3();

                @include media-down(sm2){
                    margin-left: 4em;
                    width: 80%;
                }
                @include media-down(xs){
                    margin-left: 5em;
                    width: 60%;
                }
            }
        }

        .account-number-label {
            font-weight: 700;
            font-size: 1.125em;
            padding-top: 1.563em;
            padding-left: 8.4em;

            @include media-down(sm2){
                font-size: 1em;
                padding-left: 4em;
            }

            @include media-down(xs){
                font-size: 0.8em;
                padding-left: 6.6em;
            }
        }

        .account-number-container {

            input {
                @include input3();

                @include media-down(sm2){
                    margin-left: 4em;
                    width: 80%;
                }
                @include media-down(xs){
                    margin-left: 5em;
                    width: 60%;
                }
            }
        }


        .CCI-soles-container {

            input {
                @include input3();

                @include media-down(sm2){
                    margin-left: 4em;
                    width: 80%;
                }

                @include media-down(xs){
                    margin-left: 5em;
                    width: 60%;
                }
            }

            .add-ul {

                .add-li {
                    list-style-type: none;

                    .add-input {
                        width: 30%;
                        margin-top: 1.25em;

                        @include media-down(sm2){
                            width: 50%;
                        }
                        @include media-down(xs){
                            margin-left: 4em;
                        }
                    }

                    .delete-btn {
                        border: none;
                        margin-left: 0.625em;
                    }
                }
            }

            .add-btn {
                font-weight: 700;
                font-size: 1em;
                color: $blue;
                border: none;
                margin-left: 9.375em;
                padding-top: 0.313em;

                @include media-down(sm2){
                    font-size: 0.8em;
                    margin-left: 5em;
                }

                @include media-down(xs){
                    font-size: 0.74em;
                    margin-left: 6.5em;
                }
                
            }
        }

        .step3-tooltip-container {

            .step3-subtitle-dolares {
                font-weight: 700;
                font-size: 1.125em;
                align-self: center;
                padding-left: 8.4em;
                padding-right: 0.625em;
                padding-top: 3.8em;

                @include media-down(sm2){
                    font-size: 1em;
                }

                @include media-down(sm2){
                    font-size: 1em;
                }

                @include media-down(xs){
                    font-size: 0.9em;
                    padding-left: 6.6em;
                }
            }

            .step3-title-tooltip-dolares {
                margin-top: 4.063em;

                @include media-down(sm2){
                    display: none
                }
            }
        }

        .CCI-dolar-container {

            input {
                @include input3();

                @include media-down(sm2){
                    margin-left: 4em;
                    width: 80%;
                }

                @include media-down(xs){
                    margin-left: 5em;
                    width: 60%;
                }
            }

            .add-ul {

                .add-li {
                    list-style-type: none;

                    .add-input {
                        width: 30%;
                        margin-top: 1.25em;

                        @include media-down(sm2){
                            width: 50%;
                        }

                        @include media-down(xs){
                            margin-left: 4em;
                        }
                    }

                    .delete-btn {
                        border: none;
                        margin-left: 0.625em;
                    }
                }
            }

            .add-btn {
                font-weight: 700;
                font-size: 1em;
                color: $blue;
                border: none;
                margin-left: 9.375em;
                padding-top: 0.313em;

                @include media-down(sm2){
                    font-size: 0.8em;
                    margin-left: 5em;
                }

                @include media-down(xs){
                    font-size: 0.74em;
                    margin-left: 6.5em;
                }
            }
        }

        .terms-politics-container {
            display: flex;
            margin-left: 9.375em;
            margin-top: 6.563em;

            @include media-down(sm2){
                margin-left: 4em;
            }

            @include media-down(xs){
                margin-left: 5.7em;
            }

            p {
                padding-top: 0.938em;
                padding-left: 0.625em;

                @include media-down(xs){
                    font-size: 0.9em;
                }
            }
        }

        .btns-container {
            margin-left: 9.375em;

            @include media-down(sm2){
                margin-left: 3em;
                padding-top: 5.5em;
            }

            .back-btn {
                border: none;
                color: $grey6;
                font-weight: 600;

                @include media-down(sm2){
                    padding-left: 2.5em;
                    padding-right: 2.5em;
                    display: flex;
                }

                @include media-down(xs){
                    padding-left: 5.5em;
                    
                    padding-bottom: 2em;
                }

                span {
                    margin-right: 0.625em;

                    @include media-down(sm2){
                        margin-right: 0.4;
                    }
                }
            }

            .finish-btn {
                background-color: $blue;
                color: $white;
                border: none;
                border-radius: 8px;
                height: 2.3em;
                margin-left: 15.6em;
                width: 20%;

                @include media-down(sm2){
                    padding-left: 5.4em;
                    padding-right: 5.4em;
                    margin-left: 7em;
                }
                @include media-down(xs){
                    
                    margin-left: 4.8em;
                }
            }
        }

        .error-span {
            color: $red;
            padding-top: 5px;
            padding-left: 9.375em;
        }
    }

}