@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "../styles\ variables/variables.scss";


.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7em;
    margin-left: 50em;
    width: 50em;
    height: 40em;
}

.login-title {
    position: relative;
    right: 7.1em;
    color: $black;
    font-family: $roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 2.2em;
    padding: 1em;
}

.label-email {
    position: relative;
    top: 4em;
    left: 0.1em;
    font-family: $roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.8em;
    text-align: justify;
    color: $darkGrey; 
}

.input-email {
    position: relative;
    width: 36em;
    top: 6.5em;
    right: 8.8em;
    outline: none;
    border: none;
    border-bottom: 2px solid $grey5;
}

.label-password {
    position: relative;
    top: 7.5em;
    right: 0;
    font-family: $roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.8em;
    text-align: justify;
    color: $darkGrey;
}

.input-password {
    position: relative;
    width: 36em;
    top: 9.7em;
    right: 5.8em;
    outline: none;
    border: none;
    border-bottom: 2px solid $grey5;
}

.btn-login {
    position: relative;
    top: 17em;
    width: 35.9em;
    height: 2.8em;
    border: none;
    border-radius: 5px;
    background: $blue;
    color: $white;
}

.p-forgotten-password {
    position: relative;
    top: 19em;
    right: 6.5em;
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.8em;
    text-align: justify;
    text-decoration-line: underline;
    color: $blue;
}

.p-r-login {
    position: relative;
    top: 20em;
    right: 8em;
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.8em;
    color: $darkGrey;
}

.p-r {
    position: relative;
    top: 17.3em;
    left: 4.8em;
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.8em;
    color: $blue;
    text-decoration-line: underline;
    
}

.checkbox {
    box-sizing: border-box;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    top: 14em;
    right: 41em;
    border: 1px solid $grey5;
    border-radius: 2px;
}

.checkbox-span {          
    position: relative;
    top: 13.6em;
    right: 40.5em;
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1;
    line-height: 1.8em;
    text-align: justify;
    color: $darkGrey;
}
