@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.login-title {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    width: 312px;
    height: 42px;
    left: 707px;
    top: 66px;
    line-height: 42px;
    color: #000000;
}