
.container-register{
    position: absolute;
    background-color: $blue;
    height: 85.3vw;
    width: 30%;



    .logo-container{
        display: flex;
        justify-content: center;
        padding-top: 4em;
    }

    .stepper-container{
        display: flex;
        justify-content: center;
        margin-top: 15em;
    }
    
}

.step{
position: relative;
left: 30%;
width: 60%;

}
