@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "../styles\ variables/variables.scss";


.register-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60em;
    margin-left: 25%;
}

.register-title {
    padding-top: 3em;
    width: 10em;
    font-family: $roboto;
    font-weight: 900;
    font-size: 2.2em;
    color: $black;
}

.register-subtitle {
    padding-top: 1.5em;
    width: 14em;
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    color: $grey4;
}

.container-person {
    position: relative;
    width: 43em;
    height: 8em;
    left: 10em;
    top: 5em;
    background: $grey3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 1em;
}

.container-corporation {
    position: relative;
    width: 43em;
    height: 8em;
    left: 10em;
    top: 10em;
    background: $white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 1em;
}

.rectangle-person {
    position: relative;
    bottom: 3.2em;
    left: 1.5em;
    border: 2px solid $grey4;
    border-radius: 0.5em;
    padding: 5px;
    width: 5em;
}

.rectangle-corporation {
    position: relative;
    left: 1.5em;
    bottom: 3.2em;
    border: 2px solid $blue;
    border-radius: 0.5em;
    padding: 5px;
    width: 5em;
}

.person {
    position: relative;
    left: 5em;
    top: 1.3em;
    width: 8em;
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    color: $grey4;
}

.corporation {
    position: relative;
    left: 5em;
    top: 1.3em;
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    text-decoration: none;
    color: $black;
}

.p-person {
    position: relative;
    left: 7.5em;
    top: 2em;
    width: 25em;
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    text-align: justify;
    color: $grey4;
}

.p-corporation {
    position: relative;
    left: 7.5em;
    top: 2em;
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    text-align: justify;
    color: $grey4;
 
}

.p-register {
    position: relative;
    left: 4.6em;
    top: 16em;
    width: 15em;
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: $grey4;
}

.p-s {
    position: relative;
    left: 19.7em;
    top: 13.4em;
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: $blue;
    text-decoration-line: underline;
}

