//COLORS
$blue: #1243e3;
$background: #f6f8ff;
$white: #fff;
$grey1: #ccc;
$darkBlue: #091540;
$grey2: #e0e0e0;
$darkGrey: #737373;
$grey3:#d2d2d2;
$grey4:#aaaaaa;
$background2: #eef1fa;
$black: #000;

//MAPS 
$breakpoints: (
    sm: 600px,
    md: 800px,
    md2: 850px,
    lg: 1000px
);



//MEDIA SCREEN 
@mixin media-down($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint){
        @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @warn "The key "#{$breakpoint}" do not exist. Check the map for syntaxis errors."
    }
};

@mixin media-up($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint){
        @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @warn "The key "#{$breakpoint}" do not exist. Check the map for syntaxis errors."
    }
};

//LINED BUTTON
@mixin linedButton(){
    border-radius: 8px;
    border: 2px solid #1243e3;
    background: transparent;
    color: #1243e3;
    padding: 15px 20px;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    &:hover {
        color: #fff;
        background-color: #1243e3;
            }
    &:after {
        display: none;
            }
}

//FILLED BUTTON
@mixin filledButton(){
    background: #1243e3;
    color: #fff;
    padding: 15px 20px;
    transition: background-color 0.3s ease-out;
    border-radius: 8px;
    border: 2px solid #1243e3;
    &:after {
        display: none;
            }
    &:hover {
        background: darken(#1243e3, 10);
            }
}
    


